extends ../layout/index

block content
    main.container.mt-5.tagline
        h1.text-center.mb-5 #{pagina}


        .row 
            .col-md-12.tagline
                include ../layout/partials/testimoniales
                
            .col-md-12
                h2.text-center Agrega un testimonial
                if(errores)
                    each error in errores 
                        .alert.alert-danger.text-center=error.mensaje

            .row.justify-content-center.tagline
                .col-md-8
                    form(action="/testimoniales", method="POST")
                        .form-group.mt-5
                            label(for="nombre") Nombre
                            input(id="nombre", class="form-control", type="text", placeholder="Tu Nombre", name="nombre", value=nombre)
                        .form-group.mt-5
                            label(for="correo") Correo electronico
                            input(id="correo", class="form-control", type="text", placeholder="Correo electronico", name="correo", value=correo)
                        .form-group.mt-5
                            label(for="mensaje") Mensaje
                            textarea#mensaje(class="form-control", name="mensaje", rows="3", placeholder="Tu mensaje")=mensaje
                        input.mt-5.btn.btn-success.btn-block(type="submit", value="Agregar")
                    script.
                        ScrollReveal().reveal('.tagline', { delay: 400 })
